.button {
  width: 228px;
  height: 49px;
  font-size: 18px;
  line-height: 1.56;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 9999px;
  cursor: pointer;


  &:hover {
    transition: all ease-in-out .3s;
    font-weight: 700;
  }
}

@media (max-width: 425px) {
  .button{
    width: 169px;
    height: 40px;
    font-size: 14px;
    line-height: 2;
  }
}
