.composition {
  background-color: $base-yellow;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, max-content);
  justify-items: stretch;
  column-gap: 60px;
  // row-gap: 50px;
  padding: $base-padding;

  &__title {
    @include heading;
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 60px;
  }

  &__subtitle {
    grid-column: 1;
    grid-row: 2;
    @include text($font-size: 64px, $line-height: 64px);
    margin-bottom: 100px;
    max-width: 403px;
  }

  &__text {
    grid-column: 1;
    grid-row: 3;
    max-width: 370px;
    margin-bottom: 20px;
  }

  &__text:last-child {
    margin-bottom: 60px;
  }

  &__button {
    grid-row: 5;
    align-self: end;
  }

  &__img {
    grid-column: 2;
    grid-row: 1/-1;
  }
}

@media (max-width: 768px) {
  .composition {
    grid-template-columns: 1fr;
    padding: $tablet-padding;

    &__title {
      margin-bottom: 40px;
    }

    &__subtitle {
      margin-bottom: 60px;
    }

    &__img {
      max-height: 685px;
      grid-column: 1;
      grid-row: 3/4;
      margin-bottom: 60px;
    }
  }
}
