.course {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
  padding: $base-padding;
  column-gap: 60px;

  &__title {
    @include reset;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 1.1;
    color: #000000;
  }

  &__img {
    width: 100%;
    grid-column: 2;
    grid-row: 1/4;
  }
}

.text {
  @include text(#000, 20px, 28px);
  max-width: 469px;
}

.button {
  align-self: end;
}

@media (768px < width < 1440px) {
  .course {
    &__title {
      font-size: 6.94vw;
    }
  }
}

@media (425px < width < 768px) {
  .course {
    &__title {
      font-size: 13.2vw;
    }
  }
}

@media (max-width: 768px) {
  .course {
    grid-template-columns: 1fr;
    justify-items: stretch;
    padding: $tablet-padding;
    row-gap: 60px;

    &__img {
      grid-column: 1;
      grid-row: 2/3;
    }
  }
}

@media (width < 425px) {
  .course {
    padding: $mobile-padding;

    &__title {
      font-size: 47px;
    }
  }

  .text {
    font-size: 14px;
    line-height: 129%;
  }
}
