@import "variable";
@import "mixin";

.course {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
  padding: $desktop-padding;
  column-gap: 60px;

  &__title {
    @include reset;
    @include text(100, 1.1, 1440);
    font-weight: 400;
  }

  // todo check on desktop PP
  &__text {
    @include reset;
    font-size: 20px;
    line-height: 1.39;
    max-width: 469px;
  }

  &__img {
    width: 100%;
    grid-column: 2;
    grid-row: 1/4;
  }
}

.button {
  align-self: end;
}

@media (min-width: 1440px) {
  .course__title {
    font-size: 100px;
    line-height: 1.1;
  }
}

@media (max-width: 768px) {
  .course {
    grid-template-columns: 1fr;
    justify-items: stretch;
    padding: $tablet-padding;
    row-gap: 60px;

    &__title {
      @include text($font-size: 100, $line-height: 1.1, $viewport: 768);
    }

    &__img {
      grid-column: 1;
      grid-row: 2/3;
    }
  }
}

@media (max-width: 425px) {
  .course {
    padding: 20px;
    row-gap: 30px;

    &__title {
      font-size: 47px;
    }

    &__img {
      padding: 30px 0;
    }

    &__text {
      font-size: 14px;
      line-height: 1.29;
      grid-column: 1;
      grid-row: 3;
    }

    &__button {
      grid-column: 1;
      grid-row: 4;
    }
  }
}
