@import "variable";

.footer {
  background-color: $bgHeader;
  padding: $desktop-padding;
  box-sizing: border-box;

  &__text {
    @include reset;
    font-size: 15px;
    line-height: 1.6;
    color: #ffffff;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: $tablet-padding;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 20px;
  }
  .footer__text {
    font-size: 12px;
  }
}
