@import "var";

.footer {
  background-color: $base-red;
  padding: $base-padding;
  box-sizing: border-box;

  &__text {
    font-size: 15px;
    line-height: 1.6;
    color: #ffffff;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: $tablet-padding;
  }
}

@media screen and (max-width: 425px) {
  .footer__text {
    font-size: 12px;
  }
}
