.logo {
  &__img {
    width: 40px;
    height: 40px;
  }
}

.logo_hidden {
  display: none;
}

@media (max-width: 768px) {
  .logo {
    &__img {
      width: 36px;
      height: 36px;
    }
  }
}

@media (max-width: 425px) {
  .logo {
    &__img {
      width: 30px;
      height: 30px;
    }
  }
}
