@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin list {
  list-style: none;
  @include reset;
}

@mixin text($font-size: 18, $line-height: 1.56, $viewport: 1440) {
  font-size: #{calc($font-size / $viewport * 100)}vw;
  line-height: $line-height;
}
