@import "variable";

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $desktop-padding;

  &__link {
    text-decoration: none;
    color: $linkColor;
  }
}

@media (max-width: 778px) {
  .navigation {
    padding: 0 40px;
    position: relative;
  }
}

@media (max-width: 425px) {
  .navigation {
    padding: 0 20px;
  }
}

