.rules {
  background-color: $bgComposition;
  padding: $desktop-padding;

  &__list {
    @include list;
    display: flex;
    gap: 56px;
    grid-column: 1/-1;
  }

  &__item {
    max-width: 291px;
  }
}

@media (max-width: 768px) {
  .rules {
    padding: $tablet-padding;

    &__list {
      grid-column: 1;
      flex-direction: column;
      gap: 30px;
    }

    &__item {
      max-width: 100%;
      padding-bottom: 30px;
      box-sizing: border-box;
      border-bottom: 1px solid #000;
    }

    &__item:last-of-type {
      border: none;
      padding-bottom: 0;
    }
  }
}

@media (max-width: 425px) {
  .rules {
    padding: 60px 22px 20px 20px;

    &__list {
      gap: 14px;
    }

    &__item {
      padding-bottom: 14px;
      max-width: 275px;
    }
  }
}
