@import "mixin";

.title {
  @include reset;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-transform: uppercase;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .title {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 14px;
    line-height: 1.43;
    padding-bottom: 30px;

    border-top: 1px solid;
    padding-top: 20px;
  }
}
